# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Credentials for Travis CI
gcloud/client-secret.json
gcloud/credentials.tar.gz

# GitHub Access Token for Travis CI
gcloud/github-access-token.txt
