@page
@model IndexModel
@{
    ViewData["Title"] = "Startseite";
}

<div class="container">
    <h1 class="display-4">Fluglärm Beschwerde erstellen</h1>

    <h2>1 Nächstgelegene Messstation finden</h2>

    <p>
        Deine aktuelle Position wird benötigt, um die nächstgelegene DFLD Messstation zu ermitteln.
    </p>

    <p>
        <button id="locate-button" class="btn btn-primary" data-testid="locate-button">Meine Position ermitteln</button>
    </p>

    <p>
        Bitte klicke auf "Meine Position ermitteln".
    </p>

    <div id="position-error" hidden="hidden">
        <p>
            Deine Position kann nicht ermittelt werden. Dein Gerät begründet dies so:
            "<span id="position-error-message"></span>"
        </p>

        <p>
            Du kannst die nächstgelegene Messstation unter
            <a href="https://www.dfld.de/Mess/Language/MessR001.php" target="_blank">DFLD Regionsauswahl</a>
            heraussuchen.
        </p>
    </div>

    <div id="next-measurement-station-info" hidden="hidden" data-testid="next-measurement-station-info">
        <p>
            Anhand Deiner Position <span id="position"></span>wurde die Region
            <a href="@Html.DisplayFor(model => model.Region.MeasurementStationSelectionUrl)"
               target="_blank">
                @Html.DisplayFor(model => model.Region.Name)</a>
            und
            <a href="@Html.DisplayFor(model => model.MeasurementStation.NoiseGraphUrl)"
               target="_blank">
                @Html.DisplayFor(model => model.MeasurementStation.Name)</a>
            als nächstgelegene Messstation ermittelt.
        </p>

        <p>
            Falls Deine Position fehlerhaft ist, kannst Du die nächstgelegene Messstation unter
            <a href="https://www.dfld.de/Mess/Language/MessR001.php" target="_blank">DFLD Regionsauswahl</a>
            selbst heraussuchen.
        </p>
    </div>

    <h2>2 Störungen aufzeichnen</h2>
    <p>
        Verwende den Button, um die Uhrzeit einer Störung zu speichern.
        Später kannst Du die eingetragenen Ereignisse als Sammelbeschwerde
        melden.
    </p>
    <p>
        <button id="record-button" class="btn btn-primary" data-testid="record-button">Zeitpunkt einer Störung merken</button>
    </p>
    <ul id="events" data-testid="events">
    </ul>

    <h2>3 Lärmpegel der Störungen ermitteln</h2>
    <p>
        Klicke auf "Schallpegel abrufen", um zu jeder Störung den Schallpegel zu ermitteln.
    </p>
    <p>
        <button id="get-noise-button" class="btn btn-primary" data-testid="get-noise-button">Schallpegel abrufen</button>
    </p>
    <p id="missing-measurement-data-warning" data-testid="missing-measurement-data-warning" hidden="hidden" class="alert alert-info" role="alert">
        Für einige Störungen konnten keine Messdaten abgerufen werden. Bitte versuche es später noch einmal.
    </p>
    
    <h2>4 Störungen in die Beschwerde eintragen</h2>

    <p>
        Öffne nun das Diagramm der Messstation und führe die folgenden Schritte durch, um die oben aufgenommenen
        Störungen in eine Beschwerde zu übertragen:
    </p>

    <ol>
        <li>Klicke auf den die Spitze des Ereignisses im Diagramm - Das Diagramm wird nun an dieser Stelle vergrößert.
        </li>
        <li>Klicke erneut auf den die Spitze des Ereignisses im vergrößerten Diagramm.</li>
    </ol>

    <p>
        Es poppt ein Fenster mit Titel
        "Beschwerde" auf. Dort wird die Uhrzeit und der Schallpegel der Störung eingetragen. Dieses Fenster bleibt
        geöffnet und nimmt alle weiteren Ereignisse auf.
    </p>

    <p>
        Wiederhole beiden Schritte, um alle Störungen in das Beschwerde-Fenster einzutragen.
    </p>

    <h3>5 Beschwerde absenden</h3>
    <p>
        Klicke auf <b>Fluglärmbeschwerde versenden</b>, um Deine Beschwerde fertigzustellen und abzusenden.
    </p>

    <h3>Weitere Informationen</h3>
    <p>
        Der <a href="https://www.dfld.de/" target="_blank">Deutsche Fluglärmdienst e.V. (DFLD)</a> bietet unter anderem
        folgende Dokumentation an:
    </p>

    <ul>
        <li>
            <a href="https://www.dfld.de/Mess/Language/MessHelpG.html" target="_blank">Erläuterungen zu den
                Lärm-Messungen</a></li>
        <li><a href="https://www.dfld.de/Mess/Language/BeschHelpG.html" target="_blank">Hilfe zur Fluglärmbeschwerde</a>
        </li>
    </ul>
</div>
