@page
@model IndexModel
@{
    ViewData["Title"] = "Startseite";
}

<div class="text-center">
    <h1 class="display-4">Schallpegel Messwerte</h1>
    <p>
        Der Deutsche Fluglärmdienst e.V. (DFLD) stellt Messdaten zur Verfügung:
    </p>
    <p>
        <a href="https://www.dfld.de/Mess/Language/MessR001.php">DFLD Regionsauswahl</a>
    </p>
</div>
