@page
@model IndexModel
@{
    ViewData["Title"] = "Startseite";
}

<div class="text-center">
    <h1 class="display-4">Fluglärm Beschwerde vorbereiten</h1>
    <p>
        Verwende den Button, um die Uhrzeit einer Störung zu speichern.
        Später kannst Du die eingetragenen Ereignisse als Sammelbeschwerde
        melden.
    </p>
    <p>
        <button class="btn btn-primary">Zeitpunkt einer Störung merken</button>
    </p>
    <ul id="events" style="list-style-type: none">
    </ul>
    <p>
        Finde nun die oben gemerkten Zeitpunkte in den Messdaten des
        Deutschen Fluglärmdienstes e.V. (DFLD). Durch einen Klick in das
        Diagramm kannst Du die Messdaten für den entsprechenden Zeitpunkt
        in eine Beschwerde übernehmen.
    </p>
    <p>
        <a href="https://www.dfld.de/Mess/Language/MessR001.php">DFLD Regionsauswahl</a>
    </p>
</div>
